<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="daoTemplate" abstract="true">
		<property name="databaseOperations" ref="databaseOperations" />
	</bean>

	<bean id="databaseOperations" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.utils.DatabaseOperations" />

	<bean id="serviceTemplate" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.base.ServiceTemplate">
		<constructor-arg name="emailMessageSender" ref="emailMessageSender" />
		<constructor-arg name="jmsMessageSender" ref="jmsMessageSender" />
		<constructor-arg name="webServiceInvoker" ref="webServiceInvoker" />
	</bean>

	<bean id="jmsMessageSender" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.base.JmsMessageSender" />
	<bean id="webServiceInvoker" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.base.WebServiceInvoker" />
	<bean id="emailMessageSender" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.base.EmailMessageSender" />

	<bean id="controllerFactory" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.controller.ControllerFactory" />

	<bean id="controllerTemplate" factory-bean="controllerFactory" factory-method="getController" abstract="true">
	</bean>

	<bean id="fixedDepositcontroller" parent="controllerTemplate">
		<constructor-arg index="0" value="fixedDepositController" />
		<property name="fixedDepositService" ref="fixedDepositService" />
	</bean>

	<bean id="fixedDepositService" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.service.FixedDepositServiceImpl" parent="serviceTemplate">
		<property name="fixedDepositDao" ref="fixedDepositDao" />
	</bean>

	<bean id="fixedDepositDao" parent="daoTemplate" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.dao.FixedDepositDaoImpl" />

	<bean id="fixedDepositDetails" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.domain.FixedDepositDetails" scope="prototype" />

	<bean id="personalBankingController" parent="controllerTemplate">
		<constructor-arg index="0" value="personalBankingController" />
		<property name="personalBankingService" ref="personalBankingService" />
	</bean>

	<bean id="personalBankingService" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.service.PersonalBankingServiceImpl" parent="serviceTemplate">
		<property name="personalBankingDao" ref="personalBankingDao" />
	</bean>

	<bean id="personalBankingDao" parent="daoTemplate" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.dao.PersonalBankingDaoImpl" />

	<bean id="userRequestController" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.controller.UserRequestControllerImpl">
		<constructor-arg name="serviceTemplate" ref="serviceTemplate" />
	</bean>

	<bean id="transferFundsService" class="com.vilin.spring.chapter03.bankapp.constructor.args.name.service.TransferFundsServiceImpl">
		<constructor-arg name="webServiceUrl" value="http://someUrl.com/xyz" />
		<constructor-arg name="active" value="true" />
		<constructor-arg name="numberOfRetrialAttempts" value="5" />
		<constructor-arg name="timeout" value="200" />
	</bean>
</beans>
