<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="com.vilin.spring.chapter06.bankapp.bean.profile" />
 
	<beans profile="dev, default">
		<util:properties id="dbProps" location="classpath:com/vilin/spring/chapter06/bankapp/bean/profile/devDB.properties" />
	</beans>

	<beans profile="production">
		<util:properties id="dbProps" location="classpath:com/vilin/spring/chapter06/bankapp/bean/profile/productionDB.properties" />
	</beans>
</beans>